Source: sonic-sdi-device-drivers
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>

Build-Depends: debhelper (>= 9), autotools-dev, dh-exec
Standards-Version: 3.9.3
Package: libsonic-sdi-device-drivers0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libsonic-common0,libsonic-logging0,libsonic-sdi-framework0
Description: This package contains the device driver plugin to be used with sonic-sdi-sys package.

