Source: sonic-sdi-device-drivers
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9), dh-autoreconf
Standards-Version: 3.9.3

Package: libsonic-sdi-device-drivers0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains the device driver plugin to be used with sonic-sdi-sys package.

